body{
    background-color:var(--primary-color);
    margin: 0;
    padding: 0;
    margin: auto;
  }

#logo{
    width: 188px;
    height: 80px;
    border: 0px solid black;
    margin: auto;
    text-align: center;
    margin-left: 484px;
    margin-bottom: 2px;
    font-family: 'Noto Sans SC', sans-serif;
    font-size: 38px;
    color: var(--secondary-color);
    text-shadow: 1px;
    position: static;

}
#icon{
    width: 55px;
    margin: auto;
    cursor: pointer;

}


:root{

 
  --primary-color: #edf2fc;
  --secondary-color: #212121;

}

.dark-theme{
--primary-color: #000106;
--secondary-color: #fff;
}



nav ul{
  flex: 1;
  text-align: right;
  
}

.post1{
    width: 920px;
    height: 250px;
    border: 1px dashed var(--secondary-color);
    margin: auto;
    margin-top: 15px;
    background-color: var(--primary-color);
    text-align:left;
    text-indent: 5px;
    color: var(--secondary-color);

}

.post2{
  width: 920px;
  height: 850px;
  border: 1px dashed black;
  margin: auto;
  margin-top: 15px;
  background-color:var(--primary-color);
  text-align:left;
  font-family: 'Times New Roman','verdana';
  text-indent: 5px;
  color: var(--secondary-color);
  

}

.post3{
  width: 920px;
  height: 700px;
  border: 1px dashed black;
  margin: auto;
  margin-top: 15px;
  background-color:var(--primary-color);
  text-align:left;
  font-family: 'Times New Roman', Times, serif;
  text-indent: 5px;
  color: var(--secondary-color);
  

}
.post4{
  width: 466px;
  height: 374px;
  border: 0px dashed black;
  margin: auto;
  margin-top: 30px;
  margin-left: 16px;
  background-color: var(--primary-color);
  text-align:left;
  font-family: 'Times New Roman', Times, serif;
  text-indent: 7px;
  position: revert;
  color: var(--secondary-color);

}

.post5{
  width: 920px;
  height: 132px;
  border: 0px dashed black;
  margin: auto;
  margin-top: 220px;
  background-color: var(--primary-color);
  text-align:left;
  font-family: 'Times New Roman', Times, serif;
  text-indent: 5px;
  color: var(--secondary-color);

}
.post6{
  width: 920px;
  height: 133px;
  border: 0px dashed black;
  margin: auto;
  margin-top: -358px;
  background-color: var(--primary-color);
  text-align:left;
  font-family: 'Times New Roman', Times, serif;
  text-indent: 5px;
  color: var(--secondary-color);

}
table {
  width: 800px;
  height: 500px;
  border: 1px solid black;
  margin: auto;

}
td{
  width: 70px;
  height: 500px;
  border: 1px solid black;
  text-align: justify;
}
h4{
    color: var( --secondary-color);
    text-align: justify;
    font-family: ' verdana', sans-serif;
    
}

.meniu{
    width: 550px;
    height: 80px;
    border: 1px solid black;
    margin: auto;
    margin: right;
    float: auto;
}

ul {
    width: 920px;
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }

  img{
   
    float: right;
    padding-inline: 13px;
    margin-top: -20px;

  }

button{
  width: 83px;
  height: 22px;
  color: black;
  border:1px solid #111;
  margin-left: 10px;
  text-decoration:none;
  transition-duration: 0.4s;
  cursor: pointer;
  display: inline-block;
}

.button1 {
  background-color: white; 
  color: black; 
  border: 2px solid #008CBA;
  
}

.button1:hover {
  background-color: #008CBA;
  color: white;
}

.button2 {
  background-color: white; 
  color: black; 
  border: 2px solid #008CBA;
}

.button2:hover {
  background-color: #008CBA;
  color: white;
}

a:link {
  text-decoration: none;
}


#footer{
  width: 923px;
  height: auto;
  list-style-type: none;
  margin: auto;
  padding-bottom: 2px;
  overflow: hidden;
  background-color: #333;
  text-align: center;
  margin-top: 15px;
  color: var(--secondary-color);
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: var( --secondary-color);
}
.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

div.items {
  white-space: nowrap;
  flex-flow: row nowrap;
  justify-content: space-between;
  overflow: hidden;
  display: flex;
  align-self: center;
 }
 div.items:hover .item {
  opacity: 0.3;
 }
 div.items:hover .item:hover {
  opacity: 1;
 }
 div.control-container {
  height: 300px;
  position: absolute;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
 }
 div.container {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  min-height: 300px;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
 }
 div.left-scroll {
  left: 0;
 }
 div.left-scroll i {
  transform: translate(-60%, -50%);
 }
 div.right-scroll {
  right: 0;
 }
 div.right-scroll i {
  transform: translate(-40%, -50%);
 }
 div.scroll {
  position: absolute;
  display: inline-block;
  color: #f6f6f6;
  top: 50%;
  transform: translate(0, -50%);
  width: 60px;
  height: 60px;
  border: 1px solid #f6f6f6;
  border-radius: 60px;
  margin: 0 5px;
  z-index: 951;
 }
 div.scroll i {
  font-size: 30px;
  position: relative;
  left: 50%;
  top: 50%;
 }
 .item {
  position: relative;
  align-self: center;
  width: 200px;
  height: 200px;
  margin: 0 3px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  z-index: 899;
 }
 .item:hover {
  transform: scale(1.5);
  margin: 30px;
  opacity: 1;
  z-index: 950;
 }
 .item:hover .opacity-none {
  opacity: 1;
 }
 .item .item-load-icon {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
 }
 .item .opacity-none {
  opacity: 0;
 }
 .item img.item-image {
  width: 200px;
  height: 200px;
  -o-object-fit: cover;
  object-fit: cover;
 }
 .item .item-title {
  color: #f6f6f6;
  position: absolute;
  margin: 5px 0;
  padding: 10px 0;
  width: 100%;
  left: 50%;
  top: 0;
  transform: translate(-50%, 0);
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
 }
 .item .item-description {
  color: #f6f6f6;
  font-size: 12px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  white-space: pre-wrap;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  margin: 5px 0;
  padding: 10px 0;
 }
 .button {
  position: absolute;
  color: #f6f6f6;
  font-size: 30px;
  border: 1px solid #f6f6f6;
  width: 60px;
  height: 60px;
  border-radius: 60px;
  z-index: 950;
  background-color: rgba(0, 0, 0, 0.7);
  transition: all 0.3s ease-in-out;
 }
 .button i {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-35%, -55%);
  z-index: 950;
 }
 .button:hover {
  box-shadow: 0px 0px 50px #FFFFFF;
 }